body {
    display: flex;
    justify-content: center;
}

.error {
    color: red;
    margin-bottom: 24px;
}

.star:after {
    content: " *";
    color: red;
}

.wrapper {
    border: 2px solid #0771cf;;
    padding: 20px 80px;
    display: inline-block;
}

.input_name {
    width: 230px;
    line-height: 25px;
    margin-left: 10px;
    border: 2px solid #0771cf;;
}

label {
    background-color: #70ad47;
    color: white;
    width: 96px;
    padding: 3px 0 3px 10px;
    border: 2px solid #0771cf;;
    margin-bottom: 10px;
    display: inline-block;
}

select {
    margin: 0px;
    width: 160px;
    height: 30px;
    border: 2px solid #0771cf;;
    margin-left: 10px;
    background-color: #ffffff;
}


button {
    background-color: #70ad47;
    color: white;
    margin-left: 35%;
    border: 2px solid #0771cf;;
    padding: 7px 32px;
    border-radius: 10px;
    margin-top: 22px;
}


.input_sex {
    width: 40px;
}

.input_date {
    width: 160px;
    line-height: 25px;
    margin-left: 10px;
    border: 2px solid #0771cf;;
}


.img__input{
    display: flex;
    align-items: center;
}

.img__input > input{
    margin-bottom: 7px;
    margin-left: 15px;
}

.img__input > img {
    width: 100px;
    height: 100px;
}

.border-none{
    border: none;
    margin-left: 50px;
}

.input_display {
    display: flex;
    align-items: center;
}

.input_display > p{
    margin-left: 30px;
}
.img_display{
    margin-left: 30px;
}

.img__input_display{
    display: flex;
    align-items: flex-start;
}

.img__input_display>img{
    width: 100px;
    height: 100px;  
}